<div class="cookies js-cookies">
    <div class="container">
        <div class="inner-container">
            <div class="cookies__row">
                <div class="cookies__text">
                    Данный сайт собирает cookie-файлы. Продолжая находиться на нашем ресурсе вы соглашаетесь с политикой
                    сбора cookie-файлов.
                </div>
                <button class="cookies__link js-cookies__close" type="button">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>