<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="/" class="page-header__logo">
                <img src="img/logo.png" alt="" class="page-header__logo-image">
            </a>
            <div class="page-header__menu">
                <nav class="page-header__nav">
                    <ul>
                        <li>
                            <a href="#">
                                О компании
                            </a>
                            <ul>
                                <li>
                                    <a href="#">
                                        Философия и история
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Команда и подход
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                Чистые помещения
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Медицинское газоснабжение
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Портфолио
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="page-header__mobile-phone">
                    8 987 654 32 10
                </a>
                <button class="page-header__theme-btn js-theme" type="button">
                    <span class="page-header__theme-dark">
                        <svg width="14" height="14" aria-hidden="true" class="icon-moon">
                            <use xlink:href="#moon"></use>
                        </svg>
                    </span>
                    <span class="page-header__theme-light">
                        <svg width="14" height="14" aria-hidden="true" class="icon-sun">
                            <use xlink:href="#sun"></use>
                        </svg>
                    </span>
                </button>
            </div>
            <a href="tel:89876543210" class="page-header__phone">8 987 654 32 10</a>
            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>