{{#extend "layout"}}
    {{#content "main"}}

        <section class="about-intro" id="intro">
            <div class="container">
                <div class="inner-container">
                    <div class="about-intro__content">
                        <div class="about-intro__top-left-corner"></div>
                        <div class="about-intro__top-right-corner">

                        </div>
                        <div class="about-intro__top-right-bar"></div>
                        <div class="about-intro__top-left-bar"></div>
                        <img src="img/smartm.svg" alt="" class="about-intro__image">
                        <h1 class="about-intro__heading">
                            Динамичная развивающаяся компания со своим проектным отделом, производственным отделом с
                            опытом реализации совместных проектов
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-advantages" id="advantages">
            <div class="container">
                <div class="inner-container">
                    <div class="about-advantages__content">
                        <h2 class="about-advantages__heading">
                            Команда профессионалов на каждом этапе проекта
                        </h2>
                        <ul class="about-advantages__list">
                            <li class="about-advantages__list-item">
                                <div class="about-advantages__card">
                                    <div class="about-advantages__card-icon-container">
                                        <img src="img/about-advantages/1.svg" alt=""
                                            class="about-advantages__card-icon">
                                    </div>
                                    <h3 class="about-advantages__card-title">
                                        Команда профессионалов на всех стадиях работы
                                    </h3>
                                </div>
                            </li>
                            <li class="about-advantages__list-item">
                                <div class="about-advantages__card">
                                    <div class="about-advantages__card-icon-container">
                                        <img src="img/about-advantages/2.svg" alt=""
                                            class="about-advantages__card-icon">
                                    </div>
                                    <h3 class="about-advantages__card-title">
                                        Комплектующие российского производства
                                    </h3>
                                </div>
                            </li>
                            <li class="about-advantages__list-item">
                                <div class="about-advantages__card">
                                    <div class="about-advantages__card-icon-container">
                                        <img src="img/about-advantages/3.svg" alt=""
                                            class="about-advantages__card-icon">
                                    </div>
                                    <h3 class="about-advantages__card-title">
                                        Креативность в проектировании
                                    </h3>
                                </div>
                            </li>
                            <li class="about-advantages__list-item">
                                <div class="about-advantages__card">
                                    <div class="about-advantages__card-icon-container">
                                        <img src="img/about-advantages/4.svg" alt=""
                                            class="about-advantages__card-icon">
                                    </div>
                                    <h3 class="about-advantages__card-title">
                                        Реализация проектов любой сложности
                                    </h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-philosophy" id="philosophy">
            <div class="container">
                <div class="inner-container">
                    <div class="about-philosophy__content">
                        <div class="about-philosophy__top-left-corner"></div>
                        <div class="about-philosophy__top-right-corner"></div>
                        <div class="about-philosophy__top-middle-bar"></div>
                        <div class="about-philosophy__top-left-bar"></div>
                        <div class="about-philosophy__top-right-bar"></div>
                        <div class="about-philosophy__top-row">
                            <h2 class="about-philosophy__small-heading">
                                <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus"></use>
                                </svg>
                                Философия и история
                            </h2>
                            <div class="about-philosophy__text">
                                Компания СмартМ, имея опыт более 10 лет в создании чистых помещений, сможет воплотить в
                                жизнь любой проект, начиная от идеи Чистого помещения до воплощения через визуализацию и
                                проектирование. Итогом является завершенный монтаж элементов конструкций чистого
                                помещения и ввод в эксплуатацию объекта
                            </div>
                        </div>
                        <img src="img/about-philosophy.jpg" alt="" class="about-philosophy__image" loading="lazy">
                    </div>
                </div>
            </div>
        </section>
        <section class="about-team" id="team">
            <div class="container">
                <div class="inner-container">
                    <div class="about-team__content">
                        <div class="about-team__top-left-corner"></div>
                        <div class="about-team__top-right-corner"></div>
                        <div class="about-team__top-middle-bar"></div>
                        <div class="about-team__top-left-bar"></div>
                        <div class="about-team__top-right-bar"></div>
                        <h2 class="about-team__small-heading">
                            <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                <use xlink:href="#plus"></use>
                            </svg>
                            Наша команда
                        </h2>
                        <h3 class="about-team__large-heading">
                            Предоставляем услуги по созданию чистого помещения, от проектирования и 3D моделирования до
                            реализации строительства
                        </h3>
                        <ul class="about-team__list">
                            <li class="about-team__list-item">
                                <div class="about-team__card">
                                    <div class="about-team__card-image-container">
                                        <img src="img/team/1.jpg" alt="" class="about-team__card-image">
                                    </div>
                                    <h4 class="about-team__card-heading">
                                        Иван Николаев – CEO
                                    </h4>
                                </div>
                            </li>
                            <li class="about-team__list-item">
                                <div class="about-team__card">
                                    <div class="about-team__card-image-container">
                                        <img src="img/team/2.jpg" alt="" class="about-team__card-image">
                                    </div>
                                    <h4 class="about-team__card-heading">
                                        Ангелина Ермолова – PR-менеджер
                                    </h4>
                                </div>
                            </li>
                            <li class="about-team__list-item">
                                <div class="about-team__card">
                                    <div class="about-team__card-image-container">
                                        <img src="img/team/3.jpg" alt="" class="about-team__card-image">
                                    </div>
                                    <h4 class="about-team__card-heading">
                                        Иван Николаев – Главный инженер
                                    </h4>
                                </div>
                            </li>
                            <li class="about-team__list-item">
                                <div class="about-team__card">
                                    <div class="about-team__card-image-container">
                                        <img src="img/team/4.jpg" alt="" class="about-team__card-image">
                                    </div>
                                    <h4 class="about-team__card-heading">
                                        Ангелина Ермолова – Дизайнер
                                    </h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-history js-history-slider" id="history">
            <div class="container">
                <div class="inner-container">
                    <div class="about-history__content">
                        <div class="about-history__top-slider">
                            <div class="about-history__bottom-left-corner"></div>
                            <div class="about-history__bottom-right-corner"></div>

                            <div class="about-history__dates">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="about-history__dates-card">
                                                2011
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="about-history__dates-card">
                                                2011-2012
                                            </div>
                                        </div>

                                        <div class="swiper-slide">
                                            <div class="about-history__dates-card">
                                                2022
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about-history__bottom-slider">
                            <div class="about-history__middle-bar"></div>
                            <div class="about-history__left-bar"></div>
                            <div class="about-history__right-bar"></div>
                            <div class="about-history__bottom-slider-wrapper">


                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="object.html" class="about-history__main-card">
                                                <div class="about-history__main-card-content">
                                                    <div class="about-history__main-card-years">
                                                        2015-2016
                                                    </div>
                                                    <div class="about-history__main-card-text">
                                                        Реализация первого объекта ГБУЗ АО «Северодвинская городская
                                                        больница №2 СМП» устройство комплекса чистых помещений
                                                        операционного
                                                        блока
                                                    </div>
                                                    <div class="about-history__main-card-btn">
                                                        Подробнее о проекте
                                                    </div>
                                                </div>
                                                <div class="about-history__main-card-image-container">
                                                    <div
                                                        class="about-history__main-card-animation-wrapper js-object-animation-wrapper">
                                                        <img src="img/object-intro.jpg" alt=""
                                                            class="about-history__main-card-image">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="object.html" class="about-history__main-card">
                                                <div class="about-history__main-card-content">
                                                    <div class="about-history__main-card-years">
                                                        2015-2016
                                                    </div>
                                                    <div class="about-history__main-card-text">
                                                        Реализация первого объекта ГБУЗ АО «Северодвинская городская
                                                        больница №2 СМП» устройство комплекса чистых помещений
                                                        операционного
                                                        блока
                                                    </div>
                                                    <div class="about-history__main-card-btn">
                                                        Подробнее о проекте
                                                    </div>
                                                </div>
                                                <div class="about-history__main-card-image-container">
                                                    <div
                                                        class="about-history__main-card-animation-wrapper js-object-animation-wrapper">
                                                        <img src="img/object-intro.jpg" alt=""
                                                            class="about-history__main-card-image">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="object.html" class="about-history__main-card">
                                                <div class="about-history__main-card-content">
                                                    <div class="about-history__main-card-years">
                                                        2015-2016
                                                    </div>
                                                    <div class="about-history__main-card-text">
                                                        Реализация первого объекта ГБУЗ АО «Северодвинская городская
                                                        больница №2 СМП» устройство комплекса чистых помещений
                                                        операционного
                                                        блока
                                                    </div>
                                                    <div class="about-history__main-card-btn">
                                                        Подробнее о проекте
                                                    </div>
                                                </div>
                                                <div class="about-history__main-card-image-container">
                                                    <div
                                                        class="about-history__main-card-animation-wrapper js-object-animation-wrapper">
                                                        <img src="img/object-intro.jpg" alt=""
                                                            class="about-history__main-card-image">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-quote" id="quote">
            <div class="container">
                <div class="inner-container">
                    <div class="about-quote__content">
                        <div class="about-quote__text">
                            <p>
                                Какая-то красивая цитата, может бытьот директора, про работу, проекты и людей в
                                несколько строк и предложений
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="callback">
            <div class="callback__bg">
                <img data-src="img/callback-bg.jpg" alt="" class="callback__bg-image lazyload">
            </div>
            <div class="container">
                <div class="inner-container">
                    <div class="callback__row">
                        <div class="callback__left-col">
                            <h2 class="callback__heading">
                                Создадим для вас уникальный медицинский комплекс
                            </h2>
                            <div class="callback__text">
                                <p>
                                    Обсудим детали вашего проекта и ответим на все вопросы
                                </p>
                            </div>
                        </div>
                        <div class="callback__right-col">
                            <form action="/" method="POST" class="callback__form" data-need-validation="">
                                <div class="callback__form-fields">
                                    <div class="callback__form-field">
                                        <label class="callback__form-label">

                                            <input type="text" name="name" class="callback__form-input" required=""
                                                placeholder="Имя">
                                            <span class="callback__form-label-text">
                                                Имя
                                            </span>
                                        </label>
                                    </div>
                                    <div class="callback__form-field">
                                        <label class="callback__form-label">

                                            <input type="tel" name="phone" class="callback__form-input js-phone-input"
                                                required="" placeholder="Телефон" data-parsley-phone="">
                                            <span class="callback__form-label-text">
                                                Телефон
                                            </span>
                                        </label>
                                    </div>
                                    <div class="callback__form-field">
                                        <label class="callback__form-label">

                                            <input type="email" name="email" class="callback__form-input" required=""
                                                placeholder="Почта">
                                            <span class="callback__form-label-text">
                                                Почта
                                            </span>
                                        </label>
                                    </div>
                                    <div class="callback__form-field">
                                        <label class="callback__form-label">

                                            <input type="text" name="comment" class="callback__form-input" required=""
                                                placeholder="Комментарий">
                                            <span class="callback__form-label-text">
                                                Комментарий
                                            </span>
                                        </label>
                                    </div>
                                    <div class="callback__form-field">
                                        <label class="callback__form-file js-file-upload">
                                            <input type="file" class="callback__form-file-input">
                                            <span class="callback__form-file-text js-file-upload-text">
                                                Прикрепить файл
                                            </span>
                                            <svg width="14" height="14" aria-hidden="true" class="icon-file">
                                                <use xlink:href="#file"></use>
                                            </svg>
                                        </label>
                                    </div>
                                </div>
                                <button class="callback__form-submit" type="submit">
                                    Отправить
                                </button>
                                <div class="callback__form-text">
                                    Нажимая на кнопку, вы даете <a href="#">согласие</a> на обработку персональных
                                    данных
                                    и соглашаетесь
                                    с политикой конфиденциальности.
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="callback__success">
                <div class="callback__success-bg">
                    <img data-src="img/callback-bg.jpg" alt="" class="callback__success-bg-image lazyload">
                </div>
                <div class="container">
                    <div class="inner-container">
                        <div class="callback__success-row">
                            <h3 class="callback__success-heading">
                                Ваша заявка<br> успешно<br> отправлена
                                <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                    <use xlink:href="#checkmark"></use>
                                </svg>
                            </h3>
                            <div class="callback__success-text">
                                <p>
                                    Спасибо за обращение! Мы уже обрабатываем ваше обращение, наш менеджер свяжется с
                                    вами в течении дня
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    {{/content}}
{{/extend}}