{{#extend "layout"}}
    {{#content "main"}}

        <section class="equipment-page">
            <div class="container">
                <div class="inner-container">
                    <div class="equipment-page__content">
                        <div class="equipment-page__top-left-corner"></div>
                        <div class="equipment-page__top-right-corner">

                        </div>
                        <div class="equipment-page__top-right-bar"></div>
                        <div class="equipment-page__top-left-bar"></div>
                        <h1 class="equipment-page__main-heading">
                            Оборудование медицинского и технологического газоснабжения
                        </h1>
                        <div class="equipment-page__top-row">
                            <h2 class="equipment-page__small-heading">
                                Особенность
                            </h2>
                            <div class="equipment-page__text">
                                <p>
                                    При необходимости оснащения объекта медицинским газоснабжением мы можем с учетом
                                    особенностей Вашего медицинского комплекса спроектировать и укомплектовать ваш
                                    объект
                                    технологичным оборудованием для подачи медицинских газов.
                                </p>
                            </div>
                        </div>
                        <img src="img/equipment-page.jpg" alt="" class="equipment-page__image">
                        <div class="equipment-page__bottom-row">
                            <h2 class="equipment-page__medium-heading">
                                Проведем аудит вашего проекта
                            </h2>
                            <div class="equipment-page__text">
                                <p>
                                    Укажем на допущенные ошибки, предложим корректировку проекта. Мы проводим
                                    качественный монтаж элементов медицинского газоснабжения, в том числе источников
                                    газоснабжения (газификатор, газоразрядная рампа, вакуумная станция, компрессор),
                                    трубопровода, медицинских консолей, контрольно-отключающих коробок, клапанов с
                                    пуско- наладочными работами для тестирования работы системы медицинского
                                    газоснабжения
                                </p>
                            </div>
                        </div>
                        <div class="equipment-page__bottom-left-corner"></div>
                        <div class="equipment-page__bottom-right-corner"></div>
                        <div class="equipment-page__bottom-right-bar"></div>
                        <div class="equipment-page__bottom-left-bar"></div>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}