{{#extend "layout"}}
    {{#content "main"}}

        <section class="equipment-page">
            <div class="container">
                <div class="inner-container">
                    <div class="equipment-page__content">
                        <div class="equipment-page__top-left-corner"></div>
                        <div class="equipment-page__top-right-corner">

                        </div>
                        <div class="equipment-page__top-right-bar"></div>
                        <div class="equipment-page__top-left-bar"></div>
                        <h1 class="equipment-page__main-heading">
                            Оборудование медицинского и технологического газоснабжения
                        </h1>
                        <div class="equipment-page__top-row">
                            <h2 class="equipment-page__small-heading">
                                Особенность
                            </h2>
                            <div class="equipment-page__text">
                                <p>
                                    При необходимости оснащения объекта медицинским газоснабжением мы можем с учетом
                                    особенностей Вашего медицинского комплекса спроектировать и укомплектовать ваш
                                    объект
                                    технологичным оборудованием для подачи медицинских газов.
                                </p>
                            </div>
                        </div>
                        <img src="img/equipment-page.jpg" alt="" class="equipment-page__image">
                        <div class="equipment-page__bottom-row">
                            <h2 class="equipment-page__medium-heading">
                                Проведем аудит вашего проекта
                            </h2>
                            <div class="equipment-page__text">
                                <p>
                                    Укажем на допущенные ошибки, предложим корректировку проекта. Мы проводим
                                    качественный монтаж элементов медицинского газоснабжения, в том числе источников
                                    газоснабжения (газификатор, газоразрядная рампа, вакуумная станция, компрессор),
                                    трубопровода, медицинских консолей, контрольно-отключающих коробок, клапанов с
                                    пуско- наладочными работами для тестирования работы системы медицинского
                                    газоснабжения
                                </p>
                            </div>
                        </div>
                        {{!-- <div class="equipment-page__bottom-left-corner"></div>
                        <div class="equipment-page__bottom-right-corner"></div>
                        <div class="equipment-page__bottom-right-bar"></div>
                        <div class="equipment-page__bottom-left-bar"></div> --}}
                    </div>
                </div>
            </div>
        </section>
        <section class="callback">
            <div class="callback__bg">
                <img data-src="img/callback-bg.jpg" alt="" class="callback__bg-image lazyload">
            </div>
            <div class="container">
                <div class="inner-container">
                    <div class="callback__row">
                        <div class="callback__left-col">
                            <h2 class="callback__heading">
                                Создадим для вас уникальный медицинский комплекс
                            </h2>
                            <div class="callback__text">
                                <p>
                                    Обсудим детали вашего проекта и ответим на все вопросы
                                </p>
                            </div>
                        </div>
                        <div class="callback__right-col">
                            <form action="/" method="POST" class="callback__form" data-need-validation="">
                                <div class="callback__form-fields">
                                    <div class="callback__form-field">
                                        <label class="callback__form-label">

                                            <input type="text" name="name" class="callback__form-input" required=""
                                                placeholder="Имя">
                                            <span class="callback__form-label-text">
                                                Имя
                                            </span>
                                        </label>
                                    </div>
                                    <div class="callback__form-field">
                                        <label class="callback__form-label">

                                            <input type="tel" name="phone" class="callback__form-input js-phone-input"
                                                required="" placeholder="Телефон" data-parsley-phone="">
                                            <span class="callback__form-label-text">
                                                Телефон
                                            </span>
                                        </label>
                                    </div>
                                    <div class="callback__form-field">
                                        <label class="callback__form-label">

                                            <input type="email" name="email" class="callback__form-input" required=""
                                                placeholder="Почта">
                                            <span class="callback__form-label-text">
                                                Почта
                                            </span>
                                        </label>
                                    </div>
                                    <div class="callback__form-field">
                                        <label class="callback__form-label">

                                            <input type="text" name="comment" class="callback__form-input" required=""
                                                placeholder="Комментарий">
                                            <span class="callback__form-label-text">
                                                Комментарий
                                            </span>
                                        </label>
                                    </div>
                                    <div class="callback__form-field">
                                        <label class="callback__form-file js-file-upload">
                                            <input type="file" class="callback__form-file-input">
                                            <span class="callback__form-file-text js-file-upload-text">
                                                Прикрепить файл
                                            </span>
                                            <svg width="14" height="14" aria-hidden="true" class="icon-file">
                                                <use xlink:href="#file"></use>
                                            </svg>
                                        </label>
                                    </div>
                                </div>
                                <button class="callback__form-submit" type="submit">
                                    Отправить
                                </button>
                                <div class="callback__form-text">
                                    Нажимая на кнопку, вы даете <a href="#">согласие</a> на обработку персональных
                                    данных
                                    и соглашаетесь
                                    с политикой конфиденциальности.
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="callback__success">
                <div class="callback__success-bg">
                    <img data-src="img/callback-bg.jpg" alt="" class="callback__success-bg-image lazyload">
                </div>
                <div class="container">
                    <div class="inner-container">
                        <div class="callback__success-row">
                            <h3 class="callback__success-heading">
                                Ваша заявка<br> успешно<br> отправлена
                                <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                    <use xlink:href="#checkmark"></use>
                                </svg>
                            </h3>
                            <div class="callback__success-text">
                                <p>
                                    Спасибо за обращение! Мы уже обрабатываем ваше обращение, наш менеджер свяжется с
                                    вами в течении дня
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    {{/content}}
{{/extend}}