{{#extend "layout"}}
    {{#content "main"}}
        <section class="not-found">
            <div class="container">
                <div class="inner-container">
                    <div class="not-found__content">
                        <img src="img/not-found.svg" alt="" class="not-found__image">
                        <div class="not-found__text-content">
                            <h1 class="not-found__heading">
                                Страница не найдена или ее не существует
                            </h1>
                            <a href="index.html" class="not-found__link">
                                Перейти на главную
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {{/content}}
{{/extend}}