{{#extend "layout"}}
    {{#content "main"}}

        <section class="portfolio">
            <div class="container">
                <div class="inner-container">
                    <div class="portfolio__content">
                        <div class="portfolio__top-left-corner"></div>
                        <div class="portfolio__top-right-corner">

                        </div>
                        <div class="portfolio__top-right-bar"></div>
                        <div class="portfolio__top-left-bar"></div>
                        <h1 class="portfolio__heading">
                            Наши объекты
                        </h1>
                        <ul class="portfolio__list">
                            <li class="portfolio__list-item">
                                <a href="object.html" class="portfolio__card">
                                    <div class="portfolio__card-image-container">
                                        <div class="portfolio__card-animation-wrapper" data-flip-id="1">
                                            <img src="img/object-intro.jpg" alt="" class="portfolio__card-image">
                                        </div>
                                        <div class="portfolio__card-watch">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            смотреть
                                        </div>
                                    </div>
                                    <div class="portfolio__card-city">
                                        Москва
                                    </div>
                                    <h3 class="portfolio__card-title">
                                        Научный центр акушерства, гинекологии и перинатологии имени академика В.И.
                                        Кулакова
                                    </h3>
                                </a>
                            </li>
                            <li class="portfolio__list-item">
                                <a href="object.html" class="portfolio__card">
                                    <div class="portfolio__card-image-container">
                                        <div class="portfolio__card-animation-wrapper" data-flip-id="1">
                                            <img src="img/object-intro.jpg" alt="" class="portfolio__card-image">
                                        </div>
                                        <div class="portfolio__card-watch">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            смотреть
                                        </div>
                                    </div>
                                    <div class="portfolio__card-city">
                                        Москва
                                    </div>
                                    <h3 class="portfolio__card-title">
                                        Научный центр акушерства, гинекологии и перинатологии имени академика В.И.
                                        Кулакова
                                    </h3>
                                </a>
                            </li>
                            <li class="portfolio__list-item">
                                <a href="object.html" class="portfolio__card">
                                    <div class="portfolio__card-image-container">
                                        <div class="portfolio__card-animation-wrapper" data-flip-id="1">
                                            <img src="img/object-intro.jpg" alt="" class="portfolio__card-image">
                                        </div>
                                        <div class="portfolio__card-watch">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            смотреть
                                        </div>
                                    </div>
                                    <div class="portfolio__card-city">
                                        Москва
                                    </div>
                                    <h3 class="portfolio__card-title">
                                        Научный центр акушерства, гинекологии и перинатологии имени академика В.И.
                                        Кулакова
                                    </h3>
                                </a>
                            </li>
                            <li class="portfolio__list-item">
                                <a href="object.html" class="portfolio__card">
                                    <div class="portfolio__card-image-container">
                                        <div class="portfolio__card-animation-wrapper" data-flip-id="1">
                                            <img src="img/object-intro.jpg" alt="" class="portfolio__card-image">
                                        </div>
                                        <div class="portfolio__card-watch">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            смотреть
                                        </div>
                                    </div>
                                    <div class="portfolio__card-city">
                                        Москва
                                    </div>
                                    <h3 class="portfolio__card-title">
                                        Научный центр акушерства, гинекологии и перинатологии имени академика В.И.
                                        Кулакова
                                    </h3>
                                </a>
                            </li>

                        </ul>

                        <div class="portfolio__bottom-left-corner"></div>
                        <div class="portfolio__bottom-right-corner"></div>
                        <div class="portfolio__bottom-right-bar"></div>
                        <div class="portfolio__bottom-left-bar"></div>
                    </div>

                </div>

            </div>
            </div>
        </section>

    {{/content}}
{{/extend}}