{{#extend "layout"}}
    {{#content "main"}}

        <div class="no-flex">
            <section class="rooms-intro">
                <div class="container">
                    <div class="inner-container">
                        <div class="rooms-intro__content">
                            <div class="rooms-intro__top">
                                <div class="rooms-intro__top-left-corner"></div>
                                <div class="rooms-intro__top-right-corner">

                                </div>
                                <div class="rooms-intro__top-right-bar"></div>
                                <div class="rooms-intro__top-left-bar"></div>
                                <div class="rooms-intro__top-middle-bar"></div>
                                <h1 class="rooms-intro__heading">
                                    Чистое помещение
                                </h1>
                            </div>
                            <div class="rooms-intro__bottom">
                                <div class="rooms-intro__second-top-left-corner"></div>
                                <div class="rooms-intro__second-top-right-corner"></div>
                                <div class="rooms-intro__second-middle-bar"></div>
                                <h2 class="rooms-intro__bottom-heading">
                                    Особенность чистых помещений
                                </h2>
                                <div class="rooms-intro__text">
                                    Герметичное гигиеническое пространство спроектировано таким образом, чтобы
                                    внутри
                                    был
                                    обеспечен заданный класс чистоты, требуемый в медицинских учреждениях,
                                    фармацевтической
                                    отрасли, лабораториях радиоэлектроники и микроэлектроники и других
                                    специализированных
                                    помещениях
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="rooms__pin-wrapper">
                <section class="rooms-stage js-room-stages">
                    <div class="container">
                        <div class="inner-container">
                            <div class="rooms-stage__content">
                                <div class="rooms-stage__slider">

                                    <div class="rooms-stage__slide">

                                        <div class="rooms-stage__slide-left-col">
                                            <div class="rooms-stage__counter" style="--slider-progress: 0;">
                                                <svg width="200" height="200" viewBox="0 0 200 200"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    class="intro__slider-arrow-progress">
                                                    <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                                        stroke-opacity="1" stroke-width="6" stroke-linecap="round">
                                                    </circle>
                                                    <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                                        stroke-width="6" stroke-dasharray="500" stroke-linecap="round">
                                                    </circle>
                                                </svg>
                                                <div class="rooms-stage__counter-amount">
                                                    01
                                                </div>
                                            </div>
                                            <div class="rooms-stage__slide-empty-space"></div>
                                            <div class="rooms-stage__slide-title-wrapper">
                                                <div class="rooms-stage__top-left-corner"></div>
                                                <div class="rooms-stage__slide-top-bar"></div>
                                                <div class="rooms-stage__slide-left-bar"></div>
                                                <div class="rooms-stage__slide-title-layers-wrapper">


                                                    <div class="rooms-stage__slide-title-layers">
                                                        <div class="rooms-stage__slide-title-layer active">
                                                            <h3 class="rooms-stage__slide-title">
                                                                Название этапа 1
                                                            </h3>
                                                        </div>
                                                        <div class="rooms-stage__slide-title-layer">
                                                            <h3 class="rooms-stage__slide-title">
                                                                Название этапа 2
                                                            </h3>
                                                        </div>
                                                        <div class="rooms-stage__slide-title-layer">
                                                            <h3 class="rooms-stage__slide-title">
                                                                Название этапа 3
                                                            </h3>
                                                        </div>
                                                        <div class="rooms-stage__slide-title-layer">
                                                            <h3 class="rooms-stage__slide-title">
                                                                Название этапа 4
                                                            </h3>
                                                        </div>
                                                        <div class="rooms-stage__slide-title-layer">
                                                            <h3 class="rooms-stage__slide-title">
                                                                Название этапа 5 в 2 строки
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rooms-stage__slide-text-wrapper">
                                                <div class="rooms-stage__top-left-corner"></div>
                                                <div class="rooms-stage__slide-top-bar"></div>
                                                <div class="rooms-stage__slide-left-bar"></div>
                                                <div class="rooms-stage__slide-text-layers-wrapper">


                                                    <div class="rooms-stage__slide-text-layers">
                                                        <div class="rooms-stage__slide-text-layer">
                                                            <div class="rooms-stage__slide-text">
                                                                Для создания чистого помещения необходим не только
                                                                комплекс
                                                                ограждающих
                                                                конструкций, включающий в себя стеновые и потолочные
                                                                панели.
                                                            </div>
                                                        </div>
                                                        <div class="rooms-stage__slide-text-layer">
                                                            <div class="rooms-stage__slide-text">
                                                                Для создания чистого помещения необходим не только
                                                                комплекс
                                                                ограждающих
                                                                конструкций, включающий в себя стеновые и потолочные
                                                                панели.
                                                            </div>
                                                        </div>
                                                        <div class="rooms-stage__slide-text-layer">
                                                            <div class="rooms-stage__slide-text">
                                                                Для создания чистого помещения необходим не только
                                                                комплекс
                                                                ограждающих
                                                                конструкций, включающий в себя стеновые и потолочные
                                                                панели.
                                                            </div>
                                                        </div>
                                                        <div class="rooms-stage__slide-text-layer">
                                                            <div class="rooms-stage__slide-text">
                                                                Lorem, ipsum dolor sit amet consectetur adipisicing
                                                                elit.
                                                                Tempore eius, vitae dignissimos excepturi dolor placeat
                                                                inventore nulla debitis sequi reprehenderit obcaecati
                                                                unde
                                                                minima adipisci iusto, voluptates corrupti ut doloribus
                                                                officia? Voluptatem magnam cupiditate quasi fuga nisi
                                                                tempore accusantium inventore nemo mollitia rem eveniet
                                                                dignissimos sint, exercitationem nostrum, eius velit,
                                                                enim
                                                                beatae quod aliquid dicta voluptate obcaecati facere
                                                                placeat
                                                                alias! Voluptates.
                                                            </div>
                                                        </div>
                                                        <div class="rooms-stage__slide-text-layer">
                                                            <div class="rooms-stage__slide-text">
                                                                Lorem ipsum, dolor sit amet consectetur adipisicing
                                                                elit.
                                                                Temporibus, nobis?
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="rooms-stage__slide-right-col">
                                            <div class="rooms-stage__slide-image-wrapper">
                                                <div class="rooms-stage__slide-image-layer">
                                                    <img src="img/rooms-stage.jpg" alt=""
                                                        class="rooms-stage__slide-image">
                                                </div>
                                                <div class="rooms-stage__slide-image-layer">
                                                    <img src="img/rooms-stage.jpg" alt=""
                                                        class="rooms-stage__slide-image">
                                                </div>
                                                <div class="rooms-stage__slide-image-layer">
                                                    <img src="img/rooms-stage.jpg" alt=""
                                                        class="rooms-stage__slide-image">
                                                </div>
                                                <div class="rooms-stage__slide-image-layer">
                                                    <img src="img/rooms-stage.jpg" alt=""
                                                        class="rooms-stage__slide-image">
                                                </div>
                                                <div class="rooms-stage__slide-image-layer">
                                                    <img src="img/rooms-stage.jpg" alt=""
                                                        class="rooms-stage__slide-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="rooms-experience">
                    <div class="container">
                        <div class="inner-container">
                            <div class="rooms-experience__content">
                                <div class="rooms-experience__image-wrapper">
                                    <div class="rooms-experience__image-container">
                                        <img src="img/room-experience.jpg" alt="" class="rooms-experience__image">
                                    </div>
                                </div>
                                <div class="rooms-experience__text-content">
                                    <h2 class="rooms-experience__heading">
                                        Мы имеем опыт более 10 лет в создании чистых помещений
                                    </h2>
                                    <div class="rooms-experience__text">
                                        И готовы воплотить в жизнь любой проект, начиная от идеи Чистого помещения до
                                        воплощения
                                        через визуализацию и проектирование. Итогом является завершенный монтаж
                                        элементов
                                        конструкций чистого помещения и ввод в эксплуатацию объекта
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="rooms-tour">
                    <div class="container">
                        <div class="inner-container">
                            <div class="rooms-tour__content">

                                <div class="rooms-tour__top-right-corner"></div>
                                <div class="rooms-tour__top-middle-bar"></div>
                                <div class="rooms-tour__top-right-bar"></div>
                                <div class="rooms-tour__top">
                                    <h2 class="rooms-tour__heading">
                                        3D тур
                                    </h2>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-tour">
                                        <use xlink:href="#tour"></use>
                                    </svg>
                                </div>
                                <div class="rooms-tour__iframe-wrapper">

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="rooms-realised">
                    <div class="container">
                        <div class="inner-container">
                            <div class="rooms-realised__content">
                                <div class="rooms-realised__top">
                                    <h2 class="rooms-realised__heading">
                                        Реализованный<br> проект в Cаввино
                                    </h2>
                                    <div class="rooms-realised__text">
                                        Комплекс чистых помещений – сложное инженерное решение, требующее
                                        профессионального
                                        и
                                        комплексного подхода
                                    </div>
                                </div>
                                <div class="rooms-realised__bottom">
                                    <div class="rooms-realised__top-middle-bar"></div>
                                    <div class="rooms-realised__top-left-bar"></div>
                                    <div class="rooms-realised__top-right-bar"></div>
                                    <div class="rooms-realised__top-left-corner"></div>
                                    <div class="rooms-realised__top-right-corner"></div>
                                    <ul class="rooms-realised__list">
                                        <li class="rooms-realised__list-item">
                                            <div class="rooms-realised__card">
                                                <div class="rooms-realised__card-image-container">
                                                    <img data-src="img/room-realised/1.jpg" alt=""
                                                        class="rooms-realised__card-image lazyload">
                                                </div>
                                                <h3 class="rooms-realised__card-title">
                                                    Чертеж проекта
                                                </h3>
                                            </div>
                                        </li>
                                        <li class="rooms-realised__list-item">
                                            <div class="rooms-realised__card">
                                                <div class="rooms-realised__card-image-container">
                                                    <img data-src="img/room-realised/2.jpg" alt=""
                                                        class="rooms-realised__card-image lazyload">
                                                </div>
                                                <h3 class="rooms-realised__card-title">
                                                    Видовые кадры
                                                </h3>
                                            </div>
                                        </li>
                                        <li class="rooms-realised__list-item">
                                            <div class="rooms-realised__card">
                                                <div class="rooms-realised__card-image-container">
                                                    <img data-src="img/room-realised/3.jpg" alt=""
                                                        class="rooms-realised__card-image lazyload">
                                                </div>
                                                <h3 class="rooms-realised__card-title">
                                                    Цветовая палитра
                                                </h3>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="rooms-project">
                    <div class="container">
                        <div class="inner-container">
                            <div class="rooms-project__content">
                                <a href="object.html" class="rooms-project__card">
                                    <div class="rooms-project__card-content">
                                        <div class="rooms-project__card-image-container">
                                            <div
                                                class="js-object-animation-wrapper rooms-project__card-image-animation-wrapper">
                                                <img src="img/object-intro.jpg" alt=""
                                                    class="rooms-project__card-image">
                                            </div>
                                        </div>
                                        <h2 class="rooms-project__card-title">
                                            Научный центр акушерства, гинекологии и перинатологии имени академика В. И.
                                            Кулакова
                                        </h2>
                                    </div>
                                    <div class="rooms-project__card-link">
                                        Подробнее о проекте
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="about-advantages about-advantages--rooms" id="advantages">
                    <div class="container">
                        <div class="inner-container">
                            <div class="about-advantages__content">
                                <div class="about-advantages__text-content">


                                    <h2 class="about-advantages__heading">
                                        Преимущества работы с нами
                                    </h2>
                                    <div class="about-advantages__text">
                                        И готовы воплотить в жизнь любой проект, начиная от идеи Чистого помещения до
                                        воплощения
                                        через визуализацию и проектирование
                                    </div>
                                </div>
                                <ul class="about-advantages__list">
                                    <li class="about-advantages__list-item">
                                        <div class="about-advantages__card">
                                            <div class="about-advantages__card-icon-container">
                                                <img src="img/about-advantages/1.svg" alt=""
                                                    class="about-advantages__card-icon">
                                            </div>
                                            <h3 class="about-advantages__card-title">
                                                Команда профессионалов на всех стадиях работы
                                            </h3>
                                        </div>
                                    </li>
                                    <li class="about-advantages__list-item">
                                        <div class="about-advantages__card">
                                            <div class="about-advantages__card-icon-container">
                                                <img src="img/about-advantages/2.svg" alt=""
                                                    class="about-advantages__card-icon">
                                            </div>
                                            <h3 class="about-advantages__card-title">
                                                Комплектующие российского производства
                                            </h3>
                                        </div>
                                    </li>
                                    <li class="about-advantages__list-item">
                                        <div class="about-advantages__card">
                                            <div class="about-advantages__card-icon-container">
                                                <img src="img/about-advantages/3.svg" alt=""
                                                    class="about-advantages__card-icon">
                                            </div>
                                            <h3 class="about-advantages__card-title">
                                                Креативность в проектировании
                                            </h3>
                                        </div>
                                    </li>
                                    <li class="about-advantages__list-item">
                                        <div class="about-advantages__card">
                                            <div class="about-advantages__card-icon-container">
                                                <img src="img/about-advantages/4.svg" alt=""
                                                    class="about-advantages__card-icon">
                                            </div>
                                            <h3 class="about-advantages__card-title">
                                                Реализация проектов любой сложности
                                            </h3>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="callback">
                    <div class="callback__bg">
                        <img data-src="img/callback-bg.jpg" alt="" class="callback__bg-image lazyload">
                    </div>
                    <div class="container">
                        <div class="inner-container">
                            <div class="callback__row">
                                <div class="callback__left-col">
                                    <h2 class="callback__heading">
                                        Создадим для вас уникальный медицинский комплекс
                                    </h2>
                                    <div class="callback__text">
                                        <p>
                                            Обсудим детали вашего проекта и ответим на все вопросы
                                        </p>
                                    </div>
                                </div>
                                <div class="callback__right-col">
                                    <form action="/" method="POST" class="callback__form" data-need-validation="">
                                        <div class="callback__form-fields">
                                            <div class="callback__form-field">
                                                <label class="callback__form-label">

                                                    <input type="text" name="name" class="callback__form-input"
                                                        required="" placeholder="Имя">
                                                    <span class="callback__form-label-text">
                                                        Имя
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="callback__form-field">
                                                <label class="callback__form-label">

                                                    <input type="tel" name="phone"
                                                        class="callback__form-input js-phone-input" required=""
                                                        placeholder="Телефон" data-parsley-phone="">
                                                    <span class="callback__form-label-text">
                                                        Телефон
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="callback__form-field">
                                                <label class="callback__form-label">

                                                    <input type="email" name="email" class="callback__form-input"
                                                        required="" placeholder="Почта">
                                                    <span class="callback__form-label-text">
                                                        Почта
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="callback__form-field">
                                                <label class="callback__form-label">

                                                    <input type="text" name="comment" class="callback__form-input"
                                                        required="" placeholder="Комментарий">
                                                    <span class="callback__form-label-text">
                                                        Комментарий
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="callback__form-field">
                                                <label class="callback__form-file js-file-upload">
                                                    <input type="file" class="callback__form-file-input">
                                                    <span class="callback__form-file-text js-file-upload-text">
                                                        Прикрепить файл
                                                    </span>
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-file">
                                                        <use xlink:href="#file"></use>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                        <button class="callback__form-submit" type="submit">
                                            Отправить
                                        </button>
                                        <div class="callback__form-text">
                                            Нажимая на кнопку, вы даете <a href="#">согласие</a> на обработку
                                            персональных
                                            данных
                                            и соглашаетесь
                                            с политикой конфиденциальности.
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="callback__success">
                        <div class="callback__success-bg">
                            <img data-src="img/callback-bg.jpg" alt="" class="callback__success-bg-image lazyload">
                        </div>
                        <div class="container">
                            <div class="inner-container">
                                <div class="callback__success-row">
                                    <h3 class="callback__success-heading">
                                        Ваша заявка<br> успешно<br> отправлена
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </h3>
                                    <div class="callback__success-text">
                                        <p>
                                            Спасибо за обращение! Мы уже обрабатываем ваше обращение, наш менеджер
                                            свяжется
                                            с
                                            вами в течении дня
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>

    {{/content}}
{{/extend}}