.about-team {
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        inset: 0;
        background: var(--bg-color-light);
        opacity: 1;
        position: absolute;
        z-index: -1;
    }

    .light-theme & {
        &::before {
            content: '';
            inset: 0;
            background: linear-gradient(180deg, rgba(30, 136, 202, 0.22) 0%, rgba(30, 136, 202, 0) 100%);
            opacity: 0.3;
            position: absolute;
            z-index: -1;
        }
    }
}

.about-team__content {
    position: relative;
    padding: 0 var(--side-padding);
    padding-top: 10rem;
    padding-bottom: 7rem;

    @include breakpoint(mobile) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    &::before {
        content: '';
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 1.3rem;
        bottom: 0;
        width: 1px;
        background-color: var(--decorative-border-color);

        @include breakpoint(mobile) {
            bottom: 0;
            top: 0;
        }
    }

    &::after {
        content: '';
        position: absolute;
        pointer-events: none;
        right: 0;
        top: 1.3rem;
        bottom: 0;
        width: 1px;
        background-color: var(--decorative-border-color);
        @include breakpoint(mobile) {
            bottom: 0;
            top: 0;
        }
    }

    @include breakpoint(mobile) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.about-team__small-heading {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    gap: 3.6rem;
    justify-self: flex-start;
    margin-bottom: 9rem;
    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 0.8rem;
        line-height: 1rem;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        gap: 0.4rem;
        margin-bottom: 4rem;
    }

    svg {
        flex-shrink: 0;
        width: 1rem;
        height: 1rem;
        fill: currentColor;

        @include breakpoint(mobile) {
            width: 0.6rem;
            height: 0.6rem;
        }
    }

    .light-theme & {
        color: #84a6c2;
    }
}

.about-team__large-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 6.6rem;
    line-height: 1.1;
    margin-bottom: 13rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 2.6rem;

        margin-bottom: 4rem;
    }
}

.about-team__list {
    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-gap: 4.4rem;
        align-items: flex-start;
        align-content: flex-start;

        .about-team__list-item {
            max-width: 100%;
        }

        .about-team__list-item:nth-child(4n + 1) {
            grid-column: 1 / 7;
        }
        .about-team__list-item:nth-child(4n + 2) {
            grid-column: 7 / -1;
            width: 53rem;
            max-width: 100%;
            margin-top: 21rem;
            margin-left: 6.4rem;
        }

        .about-team__list-item:nth-child(4n + 3) {
            grid-column: 1 / 7;
            align-self: flex-start;
            justify-self: center;
            width: 52rem;
            max-width: 100%;
            margin-top: -18.5rem;
        }

        .about-team__list-item:nth-child(4n + 4) {
            width: 63rem;
            margin-top: 16rem;
            grid-column: 7 / -1;
        }
    }

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;

        .about-team__list-item {
            max-width: 100%;
        }

        .about-team__list-item:nth-child(4n + 1) {
            margin-bottom: 4.5rem;
            width: 28.2rem;
            &:last-child {
                margin-bottom: 0;
            }
        }

        .about-team__list-item:nth-child(4n + 2) {
            width: 24.1rem;
            margin-left: auto;
            margin-bottom: 3.7rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .about-team__list-item:nth-child(4n + 3) {
            margin-left: 1.8rem;
            width: 24.6rem;
            margin-bottom: 2.7rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .about-team__list-item:nth-child(4n + 4) {
            margin-left: auto;
            width: 26rem;
            margin-bottom: 3rem;
            margin-right: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.about-team__card {
    display: flex;
    flex-direction: column;
}

.about-team__card-image-container {
    margin-bottom: 2rem;
    position: relative;

    @include breakpoint(mobile) {
        margin-bottom: 1.5rem;
    }
}

.about-team__card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about-team__card-image-container {
    font-style: normal;
    font-weight: 400;
    font-size: 2.7rem;
    line-height: 3.3rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 1.8rem;
    }
}

.about-team__top-left-corner {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;

    @include breakpoint(mobile) {
        display: none;
    }

    &::before {
        content: '';
        left: 50%;
        transform: translateX(-50%);
        width: 1.2rem;
        height: 1px;
        background-color: var(--decorative-border-color);
        top: 0;
        position: absolute;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 1px;
        height: 1.2rem;
        left: 50%;
        background-color: var(--decorative-border-color);
    }
}

.about-team__top-right-corner {
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;

    @include breakpoint(mobile) {
        display: none;
    }

    &::before {
        content: '';
        left: 50%;
        transform: translateX(-50%);
        width: 1.2rem;
        height: 1px;
        background-color: var(--decorative-border-color);
        top: 0;
        position: absolute;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 1px;
        height: 1.2rem;
        left: 50%;
        background-color: var(--decorative-border-color);
    }
}

.about-team__top-middle-bar {
    position: absolute;
    top: 0;
    height: 1px;
    background-color: var(--decorative-border-color);
    left: 1.3rem;
    right: 1.3rem;

    @include breakpoint(mobile) {
        left: 0;
        right: 0;
    }
}

.about-team__top-left-bar {
    position: absolute;
    right: 100%;
    margin-right: 1.3rem;
    width: 100vw;
    height: 1px;
    top: 0;
    background-color: var(--decorative-border-color);

    @include breakpoint(mobile) {
        margin-right: 0;
    }
}
.about-team__top-right-bar {
    position: absolute;
    left: 100%;
    margin-left: 1.3rem;
    width: 100vw;
    height: 1px;
    top: 0;
    background-color: var(--decorative-border-color);

    @include breakpoint(mobile) {
        margin-left: 0;
    }
}

.about-team__card-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1.2;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 1.8rem;
    }
}
