.equipment {
    background-color: var(--bg-color-light);
    position: relative;
    z-index: 1;

    background-image: url('../img/equipment-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include breakpoint(mobile) {
        background-image: url('../img/equipment-bg-mobile.jpg');
    }

    .light-theme & {
        background-image: url('../img/equipment-bg-light.jpg');
        @include breakpoint(mobile) {
            background-image: url('../img/equipment-light-bg-mobile.jpg');
        }
    }
}

// .equipment__bg {
//     position: absolute;
//     inset: 0;
//     z-index: -1;
// }

// .equipment__bg-image {
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

.equipment__content {
    padding: 6rem var(--side-padding);
    position: relative;

    @include breakpointMF(small-tablet) {
        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 1px;
            top: 0;
            bottom: 0;
            background-color: var(--decorative-border-color);
            z-index: 2;
            pointer-events: none;
        }
    }

    @include breakpoint(mobile) {
        padding-top: 2.5rem;
        padding-bottom: 4rem;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 1px;
            top: 0;
            bottom: 0;
            background-color: var(--decorative-border-color);
            z-index: 2;
            pointer-events: none;
        }
    }
}

.equipment__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    line-height: 1.1;
    margin-bottom: 15rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 2.6rem;

        margin-bottom: 4rem;
    }
}

.equipment__text {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 4.4rem;
    margin-bottom: 6.8rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 3rem;
        margin-bottom: 3.5rem;
    }
}

.equipment__text-col {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.7rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.6rem;
    }
}

.equipment__text-col-plus {
    width: 1.1rem;
    height: 1.1rem;
    margin-bottom: 3.6rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
        width: 0.8rem;
        height: 0.8rem;
    }

    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: white;
    }
}

.equipment__image {
    display: block;
    height: auto;
    width: 100%;
}
